Additional_data_collection/digital_elevation_data/*
Additional_data_collection/historical_fire_perimeters/*
Additional_data_collection/landsat_image_data/*
Additional_data_collection/modis_viirs_data/*
